/*Raleway*/
@font-face{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*Rubik*/
@font-face{
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*{
  padding: 0;
  margin: 0;
  border: 0;
}

ul, ol{
  list-style: none;
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.button{
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

/*Pages*/

.container{
  width: 1160px;
  margin: 0 auto;
}

.container-for-elements{
  display: flex;
  justify-content: space-between;
}

.description{
  color: #444444;
}

.page-header .container{
  color: #000000;
  background-color: #FFE17F;
  padding: 0 25px 0 60px;
  box-sizing: border-box;
}

/*Navigation*/
.nav-flex{
  display: flex;
}

.nav-list{
  display: flex;
  margin: 0;
  padding: 0;
  width: 510px;
}

.nav-link{
  color: inherit;
  text-decoration: none;
}

.nav-top{
  font-size: 16px;
  line-height: 19px;
}

.nav-form{
  margin-right: auto;
  width: 480px;
}

.nav-bottom{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav-catalog{
  margin-right: auto;
  width: 310px;
}

.main-container{
  flex-grow: 1;
}

/*Slider*/

.slide-title{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/*List*/
.slider-list{
  margin: 0;
  padding: 0;
}

.slider-item{
  display: flex;
  justify-content: space-between;
}

.slide-info{
  width: 560px;
}

/*Table*/
.slide-table-data b{
  font-size: 36px;
  font-weight: 400;
}

.slide-table-data-title{
  font-size: 16px;
  font-weight: 400;
  color: #444444;
}

/*Pagination*/
.slider-pagination{
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.slider-pagination-button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #000000;
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 0;
}

.slider-pagination-button-current{
  background: #000000;
}

/*Goods*/

/*List*/
.goods-list{
  display: flex;
  justify-content: space-between;
}

.goods-item{
  width: 160px;
}

.goods-icon-wrapper{
  height: 160px;
  background: #FFE17F;
  box-sizing: border-box;
}

/*Title*/
.goods-item-title{
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
}

/*Sector title*/

.sector-title{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/*Services slider*/
.services-slider{
  color: #000000;
  background-color: #F0F0F0;
}

.services-layout{
  display: flex;
}

/*List*/
.services-list{
  margin-right: 120px;
}

.services-item{
  width: 280px;
}

.services-slider-list{
  width: 560px;
}

/*Button*/
.services-slider-button-current{
  background-color: #000000;
}

.services-slider-button-current button{
  color: #FFE17F;
}

.service-description{
  width: 500px;
}

/*Rare delivery*/

.rare-delivery{
  color: #000000;
  background-color: #F0F0F0;
  width: 1160px;
  margin: 0 auto;
}

/*Title*/
.rare-delivery-title{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*About and contacts*/

/*About*/
.about{
  width: 560px;
}

/*Title*/
.about-title{
}

/*List*/
.about-item{
  font-weight: 700;
  line-height: 20px;
}

/*Contacts*/
.contacts{
  width: 560px;
}

/*Title*/
.contacts-title{

}

/*Subtitle*/
.contacts-subtitle{
  font-size: 24px;
  font-weight: 700;
  color: #444444;
}

.contacts-address {
  font-style: normal;
  color: #444444;
}

.contacts-phone{
  color: #444444;
}

/*Newsletter*/

.newsletter{
  color: #000000;
  background-color: #F0F0F0;
}

/*Title*/
.newsletter-title{
  width: 560px;
}

.newsletter-desription{
  width: 560px;
}

/*Newsletter form*/
.newsletter-form-field{
  border: none;
  border-bottom: 3px solid #000000;
  opacity: 0.1;
}

.free{
  font-size: 18px;
  color: #444444;
}

/*Footer*/

.page-footer{
  color: #ffffff;
  background-color: #444444;
}

.footer-address{
  width: 240px;
}

.footer-contacts-address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

/*List*/
.footer-nav-list{
  display:flex;
  justify-content: space-between;
  width: 465px;
}

.footer-nav .button{
  color: #ffffff;
}

/*Phone*/

.footer-contacts-phone{
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  font-style: normal;
}

.footer-social-list{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

/*Catalog.html*/

.inner-header{

}

/*Title*/
.inner-header-title{
  margin-left: 64px;
}

/* Breadcrumbs */
.breadcrumbs{
  display: flex;
  color: #000000;
  margin-left: 61px;
}

/*Link*/
.breadcrubms-link{
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.catalog{
  display: flex;
}

.filter{
  width: 328px;
}

/*Catalog title*/
.catalog-title{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*Catalog filter*/

/*Title*/
.filter-title{
  padding-left: 60px;
  color: #000000;
  background: #DCDCDC;
}

.filter-title{
}

/*Form*/
.catalog-filter{
  padding-left: 60px;
  color: #000000;
  background-color: #EBEBEB;
  height: 100%;
}

.filter-form{
  width: 200px;
}

/*Legend*/
.filter-form-title{
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control-label{
  font-size: 16px;
  line-height: 19px;
}

/*Catalog products*/

.catalog-products{
}

.sorting{
  display: flex;
  padding-left: 72px;
  color: #000000;
  background-color: #EBEBEB;
}

.sort-title{
  margin-right: 55px;
}

.products{
  padding: 69px 72px 77px 72px;
  padding-right: 0;
}

/*List*/
.product-list{
  display: flex;
  flex-wrap: wrap;
  width: 760px;
}

.product-card{
  width: 360px;
  margin-right: 40px;
}

.product-card:nth-of-type(2n){
  margin-right: 0;
}

/*Title*/
.product-card-title{
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  width: 280px;
}

.cost{
  line-height: 21px;
  color: #444444;
}

.new-img{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.button-all{
  font-size: 16px;
  line-height: 19px;
  width: 760px;
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 51px;
}

/*Pagination*/
.catalog-pagination{
  display: flex;
  width: 700px;
  background: #EBEBEB;
  padding: 0 30px;
}

.catalog-pagination-item:nth-of-type(2){
  margin-left: auto;
}

.catalog-pagination-item:nth-of-type(6){
  margin-right: auto;
}

.catalog-pagination-link{
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.catalog-pagination-prev,
.catalog-pagination-next{
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}



