/*Raleway*/
@font-face{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*Rubik*/
@font-face{
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding-top: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  overflow-x: hidden;
}

.button{
  position: relative;
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
}

.button-line-decoration{
  padding: 10px;
}

.button-line-decoration::before{
  display: block;
  content: "";
  position: absolute;
  border-bottom: 8px solid #FFE17F;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: -1;
}

.button-line-decoration:hover{
  background-color:  #FFE17F;
}

.button-line-decoration:active{
  opacity: .3;
}

.button-line-decoration:focus::before{
  border-bottom: 8px solid #AF4FFF;
}

.button-line-decoration:hover::before{
  display: none;
}

.focus-border::before{
  display: none;
  content: "";
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  border: 2px solid #AF4FFF;
  border-radius: 20px;
  position: absolute;
  padding-right: 28px;
  padding-top: 18px;
  transform: translate(-50%, -50%);
}

/*Pages*/

.container{
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-for-elements{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.description{
  color: #444444;

  padding: 0;
  margin: 0;
}

.page-header-container{
  position: relative;
  color: #000000;
  background-color: #FFE17F;
  padding: 39px 60px 51px 61px;
  box-sizing: border-box;
}

/*Header logo*/
.header-logo{
  position: absolute;
  top: -23px;
}


/*Navigation*/
.nav-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-list{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link{
  display: block;
  position: relative;
  color: inherit;
  text-decoration: none;
  font: inherit;
  background-color: transparent;
}

.nav-item{
  position: relative;
}

.nav-top{
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 35px;
}

.nav-top .nav-link:hover{
  opacity: 0.6;
}

.nav-link:focus-visible::before{
  display: block;
}

.nav-top .nav-link:active{
  opacity: 0.3;
}

.nav-link:hover::before{
  display: none;
}

.nav-form{
  display: flex;
  position: relative;
  margin-right: auto;
  box-sizing: border-box;
  left: -17px;
  width: 516px;
  height: 40px;
  border: none;
  padding: 7px 0px 10px 52px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 20px;
}

.nav-form::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../image/header/search.svg) no-repeat center;
  margin-top: -8px;
  top: 50%;
  left: 15px;
}

.nav-form:focus-within{
  border-color:  #AF4FFF;
}

.nav-form:focus-within .search-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-search{
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 300px;
  border: none;
  padding: 0;
  margin: 0;
  padding-right: 10px;

}

.nav-search::placeholder{
  position: relative;
  top: 2px;
  font-size: 16px;
  color: rgba(0,0,0,.3);
}

.nav-search:hover::placeholder{
  color: rgba(0,0,0,.6);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-button{
  display: none;
  position: absolute;
  right: -2px;
  top: -2px;

  font-size: 16px;
  line-height: 19px;
  color: #000000;


  width: 160px;
  height: 100%;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0px 20px 20px 0px;
  box-sizing: border-box;
  padding: 12px 0;
  height: 40px;

  cursor: pointer;
}

.search-button:hover{
  color: #FFFFFF;
  background: #000000;
}

.search-button:focus-visible{
  border-color: #AF4FFF;
}

.search-button:active{
  color: rgba(255, 255, 255, .3);
  background: #000000;
}

.search-button:hover:focus{
  border-color: #000000;
}

.login{
  margin-right: 28px;
}

.nav-icon{
  margin-right: 8px;
}

.nav-top .exit{
  padding-right: 0;
  padding-left: 0;
  opacity: 0.3;
}

.compare{
  margin-left: auto;
  margin-right: 52px;
}

.nav-link-cart::after{
  content: "2";
  position: absolute;
  left: -15px;
  top: -2px;
  width: 21px;
  height: 21px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #FFFFFF;
  z-index: 1;
}

/*Popover*/

.popover{
  display: none;
  position: absolute;
  top: 32px;
  transform: translateX(-46%);
  z-index: 2;
  box-sizing: border-box;
  width: 320px;
  min-height: 160px;
  padding-bottom: 21px;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.popover::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 6px;
  left: 50%;
  top: -6px;
  transform: translateX(-50%);

  background: url("../image/triangle.svg") no-repeat center;
  z-index: 2;
}

.popover-open{
  display: block;
}

.cart-item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.cart-item:last-of-type{
  border: none;
}

.cart-item-title{
  width: 180px;
}

.cart-item-button{
  width: 11px;
  height: 11px;
  background-color: transparent;
  align-self: start;
}

.cart-item-button::before,
.cart-item-button::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 1px;
  background-color: #FFFFFF;
}

.cart-item-button::before{
  transform: translateX(-50%) rotate(-45deg);
}

.cart-item-button::after{
  transform: translateX(-50%) rotate(45deg);
}

.cart-result{
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  margin-bottom: 20px;
  background-color: #1A1A1A;
}

.cart-button{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  min-height: 50px;
  padding: 10px;
  margin: 0 auto;

  color: #000000;
  background-color: #ffffff;
}

/*Navigation Catalog*/

.nav-catalog{
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.nav-subcatalog{
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-catalog-link{
  display: block;
}

.nav-catalog-link::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #FFE17F;
  opacity: 0.2;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  transform: translate(16px,-15px);

  background: url('../image/header/plus.svg') no-repeat center;
}

.nav-catalog-link:hover::after{
  opacity: 1;
  background: url('../image/header/minus.svg') no-repeat center;
}

.nav-catalog:hover .nav-subcatalog{
  position: absolute;
  width: 100%;
  left: 0;
  top: 150px;
  padding: 33px 60px 59px 61px;

  display: grid;
  grid-template-columns: 200px 160px 160px;
  grid-gap: 17px 40px;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;

  background-color: #FFE17F;
  z-index: 2;
  box-sizing: border-box;
}

.nav-catalog-link:focus::before{
  display: block;
}

.nav-catalog:focus-within .nav-subcatalog{
  position: absolute;
  width: 100%;
  left: 0;
  top: 150px;
  padding: 33px 60px 59px 61px;

  display: grid;
  grid-template-columns: 200px 160px 160px;
  grid-gap: 17px 40px;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;

  background-color: #FFE17F;
  z-index: 2;
  box-sizing: border-box;
}

.nav-catalog-link:active{
  opacity: 0.3;
}

.nav-catalog-link:active::before{
  display: none;
}

.cameras{
  grid-row: 3/4
}

.nav-subcatalog-link{
  display: inline-block;
}

.nav-subcatalog-link:hover{
  opacity: .6;
}

.nav-subcatalog-link:active{
  opacity: .3;
}

/*Navigation Button*/

.nav-bottom{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav-list-bottom .nav-link::after{
  content: "";
  display: none;
  position: absolute;
  background: #000;
  width: 98%;
  height: 2px;
  bottom: -10px;
  left: 0;
  margin-top: 20px;
}

.nav-list-bottom .nav-link:hover::after{
  display: block;
}

.nav-list-bottom .nav-link:active{
  opacity: 0.3;
}


.nav-item-delivery{
  margin-right: 30px;
}

.nav-item-contacts{
  margin-left: auto;
}

.main-container{
  flex-grow: 1;
}

/*Slider*/
.slider{
  position: relative;
  top: -35px;
  margin-bottom: 35px;
}

.slider-container{
  position: relative;
}

.slider-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-item{
  position: relative;
  z-index: 0;
}

.slider-item::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 149px;
  background-color: #FFE17F;
  z-index: -1;
  box-sizing: border-box;
}

.slide-1::after{
  position: absolute;
  content: "01";
  font-size: 180px;
  font-weight: 800;
  color: #FFFFFF;
  right: 49px;
  top: 81px;
  z-index: -1;
}

.slider-button{
  position: absolute;
  width: 20px;
  height: 60px;
  background: url(../image/nav-slider/arrow.svg) no-repeat center;
  cursor: pointer;
  top: 50%;
  z-index: 1;
  border: none;
}

.slider-prev{
  left: 40px;
  transform: translateY(-50%);
}

.slider-next{
  transform: rotate(180deg) translateY(50%);
  left: 540px;
}

.slider-button:hover{
  opacity: 0.6;
}

.slider-button:focus{
  outline: 2px solid #AF4FFF;
  border-radius: 1px;
  outline-offset: 10px;
}

.slider-button:active{
  opacity: 0.3;
}

.slide-title{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

/*List*/
.slider-list{
  margin: 0;
  padding: 0;
}

.slider-item{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slide-info{
  width: 560px;
  padding-top: 120px;
}

.slide-description{
  margin-bottom: 40px;
}

.more-details{
  margin-bottom: 55px;
}

.more-details-button{
  min-width: 220px;
}

/*Table*/
.slide-table{
}

.slide-table-data{
  min-width: 155px;
  padding-bottom: 3px;
}

.slide-table-data b{
  font-size: 36px;
  font-weight: 400;
}

.slide-table-row{
  margin-bottom: 40px;
}

.slide-table-data-title{
  font-size: 16px;
  font-weight: 400;
  color: #444444;
}

/*Pagination*/
.slider-pagination{
  display: flex;
  flex-wrap: wrap;
  width: 114px;
  position: absolute;
  bottom: 181px;
  right: 45px;
  z-index: 1;

  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-pagination-button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #000000;
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 0;
  margin-right: 22px;
  cursor: pointer;
}

.slider-pagination-button:hover{
  opacity: 0.6;
}

.slider-pagination-button:active{
  opacity: 0.3;
}

.slider-pagination-button:focus{
  border-color: #AF4FFF;
}

.slider-pagination-button-current{
  background: #000000;
}

/*Goods*/
.goods{
  margin-bottom: 181px;
}

/*List*/
.goods-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  grid-gap: 40px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-item{
  width: 160px;
}

.goods-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  background: #FFE17F;
  box-sizing: border-box;
  margin-bottom: 33px;
}

.monopad{
  align-self: flex-end;
}

.goods-link{
  color: #000000;
  text-decoration: none;
}

.goods-link:hover .goods-icon-wrapper{
  background: #FFC700;
}

.goods-link:active .goods-item-title,
.goods-link:active .goods-icon{
  opacity: 0.3;
}

.goods-link:active:focus .goods-icon-wrapper{
  outline: none;
}

.goods-link:active:focus .goods-item-title{
  color: #000000;
}

.goods-link:focus .goods-icon-wrapper{
  outline: 5px solid #AF4FFF;
}

.goods-link:focus  .goods-item-title{
  color: #AF4FFF;
}

/*Title*/
.goods-item-title{
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;

  margin: 0;
  padding: 0;
}

/*Sector title*/

.sector-title{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.service-title{
  margin-bottom: 35px;
}

/*Services slider*/
.services-slider{
  min-height: 288px;
  color: #000000;
  background-color: #F0F0F0;
  margin-bottom: 90px;
}

.services-layout{
  display: flex;
  flex-wrap: wrap;
}

/*List*/
.services-list{
  margin: 0;
  padding: 0;
  list-style: none;

  margin-right: 120px;
  position: relative;
  top: -20px;
}

.services-list::after{
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: #000;
  right: -4px;
  top: -80px;
}

.services-item{
  width: 280px;
  min-height: 40px;
  margin-bottom: 23px;
}

.services-item:last-of-type{
  margin-bottom: 0;
}

.services-slider-item-1::after{
  content: "";
  position: absolute;
  width: 140px;
  height: 165px;
  background: url("../image/service-slider/delivery.svg") no-repeat center;
  transform: translate(555px,-160px)
}

.services-slider-list{
  margin: 0;
  padding: 0;
  list-style: none;

  width: 560px;
  position: relative;
  top: -30px;
}

/*Button*/
.service-button{
  min-width: 160px;
}

.service-button:before{
  border-bottom: 8px solid #FFC700;
}

.service-button:hover{
  background: #FFC700;
}

.services-slider-button-current{
  background-color: #000000;
}

.service-button-current{
  color: #FFE17F;
  background-color: #000000;
}

.service-button-current:hover{
  background-color: #000000;
}

.service-button-current:before{
  border: none;
}

.service-description{
  width: 500px;
}

/*Rare delivery*/
.rare-delivery{
  display: block;
  margin-bottom: 97px;
}

.rare-delivery-container{
  position: relative;
  text-decoration: none;

  display: flex;
  align-items: center;
  color: #000000;
  background-color: #F0F0F0;
  padding: 10px 0px;
  min-height: 100px;
  box-sizing: border-box;
}

.rare-delivery-icon-wrapper{
  display: flex;
  width: 125px;
  justify-content: center;
  margin-right: 197px;
}

.rare-delivery-icon-wrapper::before{
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 125px;
  background: #FFE17F;
}

.rare-delivery-icon{
  z-index: 1;
}

.rare-delivery-container:hover{
  background: #EBEBEB;
}

.rare-delivery-container:hover .rare-delivery-icon-wrapper::before{
  background-color: #FFC700;
}

.rare-delivery-container:active{
  background: #EBEBEB;
}

.rare-delivery-container:active:focus{
  outline: none;
}

.rare-delivery-container:active .rare-delivery-icon-wrapper{
  fill-opacity: 0.3;
}

.rare-delivery-container:active .rare-delivery-title{
  opacity: 0.3;
}

.rare-delivery-container:focus{
  outline: 5px solid #AF4FFF;
}

.info{
  width: 40px;
  height: 40px;
  background: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
  fill-opacity: .3;
  margin-right: 33px;
}

.rare-delivery-container:hover .info {
  background: rgba(220, 220, 220, 1);
  fill-opacity: 1;
}

.rare-delivery-container:active .info {
  background: rgba(220, 220, 220, .5);
  fill-opacity: .3;
}

/*Title*/
.rare-delivery-title{
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 530px;
  margin-right: auto;
}


/*About and contacts*/
.contacts-button{
  min-width: 260px;
}

.about-contacts{
  position: relative;
  padding-top: 50px;
  padding-bottom: 75px;
}

/*About*/
.about{
  width: 560px;
}

.about:before{
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: 0;
}

/*Title*/
.about-title{
  margin-bottom: 45px;
}

.about-description{
  margin-bottom: 30px;
}

.about-description:last-of-type{
  margin-bottom: 75px;
}

/*List*/
.about-list{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 63px;
}

.about-item{
  position: relative;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 20px;
  padding-left: 33px;
}

.about-item::before{
  content: "";
  position: absolute;

  width: 8px;
  height: 8px;
  background: #FFC700;
  border-radius: 50%;

  left: 0;
  margin-top: -4px;
  top: 50%;
}

.about-item:last-of-type{
 margin-bottom: 0;
}

/*Contacts*/
.contacts{
  width: 560px;
}

.contacts:before{
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: 0;
}

/*Title*/
.contacts-title{
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.contacts-description{
  margin-bottom: 30px;
}

/*Subtitle*/
.contacts-subtitle{
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  color: #444444;
  margin-bottom: 15px;
}

.contacts-address {
  font-style: normal;
  color: #444444;
  margin-bottom: 30px;
}

.contacts-phone{
  color: #444444;
}

.contacts-schedule{
  margin-bottom: 58px;
}

/*Newsletter*/

.newsletter{
  padding: 75px 0 131px;
  color: #000000;
  background-color: #F0F0F0;
}

.newsletter-top{
  margin-bottom: 60px;
}

.newsletter-bottom{
  align-items: center;
}

/*Title*/
.newsletter-title{
  margin: 0;
  padding: 0;
  width: 560px;
}

.newsletter-desription{
  width: 560px;
  margin-top: 10px;
}

/*Newsletter form*/

.newsletter-form{
  display: flex;
  align-items: stretch;
}

.newsletter-form-field{
  width: 600px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, .1);
  height: 100%;
  box-sizing: border-box;
  padding: 0 2px;
}

.newsletter-form-field:hover{
  border-bottom: 3px solid rgba(0, 0, 0, .2);
}

.newsletter-form-field:focus{
  background: #DCDCDC;
}

.newsletter-form-field::placeholder{
  position: relative;
  top: 2px;
  font-size: 18px;
  color: #444444;
  opacity: 0.5;
}

.newsletter-button{
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;

  padding: 14px 38px;
  border: 3px solid rgba(0,0,0,.1);
  box-sizing: border-box;
}

.newsletter-button:hover{
  color: #FFFFFF;
  background-color: #000000;
  border: 3px solid #000000;
}

.newsletter-button:active{
  color: rgba(255, 255, 255, .3);
}

.newsletter-button:focus{
  border-color: #AF4FFF;
}

.newsletter-button:hover:focus{
  border-color: #000000;
}

.free{
  position: relative;
  font-size: 18px;
  color: #444444;
}

.free::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: url("../image/tick-big.svg");
  margin-top: -7px;
  top: 50%;
  left: -35px;
}

/*Footer*/

.page-footer{
  padding: 62px 0 55px 0;
  color: #ffffff;
  background-color: #444444;
}

.footer-logo{
  display: block;
  margin-bottom: 25px;
}

/*Footer layout*/
.footer-layout{
  display: flex;
}

.footer-address{
  width: 240px;
  margin-right: 124px;
}

.footer-address:after{
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  margin-top: 67px;
}

.footer-contacts-address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer-contacts-address p{
  padding: 0;
  margin: 0;
}

/*Footer column 2*/
.footer-column-2{
  margin-right: 182px;
}

/*List*/
.footer-nav-list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-bottom: 57px;
}

.footer-nav-item{
  margin-right: 28px;
}

.footer-nav-item:nth-of-type(3){
  margin-right: 0;
}

.footer-button{
  color: #ffffff;
}

.footer-button:hover{
  color: #FFC700;
}

.footer-button:hover::after{
  content: "";
  position: absolute;

  width: 99%;
  height: 2px;
  background-color: #FFC700;

  left: 0;
  bottom: -10px;
}

.footer-button:active{
  opacity: .3;
}

.footer-button:focus::before{
  display: block;
}

.footer-button:hover::before{
  display: none;
}

.footer-column-3{
  display: flex;
  flex-direction: column;
  align-items: end;
}

/*Phone*/
.footer-phone{
  text-align: right;
  margin-bottom: 30px;
}

.footer-contacts-phone{
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  font-style: normal;
}

.htmlacademy-link .html-logo{
  fill: #FFC700;
}

.htmlacademy-link:hover .html-logo{
  fill: #FFFFFF;
}

.htmlacademy-link:active .html-logo{
  opacity: .3;
}

.htmlacademy-link:focus .html-logo{
  outline: 2px solid #AF4FFF;
  outline-offset: 9px;
  border-radius: 5px;
}

.htmlacademy-link:focus:hover .html-logo{
  outline: none;
}

.footer-social-list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 40px);
  width: 150px;
  margin-left: 142px;
  grid-gap: 15px;
}

.button-social{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: background .1s linear, outline .1s ease-out;
}

.button-social:hover{
  background-color: #FFC700;
}

.button-social:active{
  fill-opacity: .3;
}

.button-social:focus{
  outline: 5px solid #AF4FFF;
}

.button-social:hover:focus{
  outline: none;
}

/*Modal Window*/

.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .7);
  z-index: 1;
}

.modal-container-close{
  display: none;
}

.modal{
  font-family: Rubik, sans-serif;
  position: relative;
  margin: auto;
  padding: 62px 70px;
  color: #000;
  background-color: #fff;
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-delivery{
  position: relative;
  width: 920px;
}

.modal-close-button{
  position: absolute;
  right: 70px;
  transform: translateY(50%);
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after{
  content: "";
  position: absolute;
  width: 32px;
  height: 4px;
  background-color: #000;
  transform: translate(-50%, -50%);
}

.modal-close-button::before{
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after{
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close-button:hover{
  opacity: .6;
}

.modal-close-button:focus-active{
  outline: 5px solid #AF4FFF;
  outline-offset: 10px;
  border-radius: 50%;
}

.modal-close-button:active{
  opacity: .3;
}

.modal-title{
  font-family: Raleway;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
  margin-bottom: 69px;
}

.delivery-form{
  display: grid;
  grid-template-columns: 360px 160px 160px;
  grid-gap: 15px 40px;
}

.field-group{
  position: relative;
  display: flex;
  flex-direction: column;
}

.field-group:last-of-type{
  margin-bottom: 30px;
}

.field-group-email{
  grid-column: 2/4;
}

.field-group-description{
  grid-column: 1/3;
}

.field-group-count{
  grid-column: 3/4;
}

.delivery-label{
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 13px;
}

.delivery-info{
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-top: -3px;
  margin-left: 17px;

  background: url("../image/info.svg") no-repeat center #FFE17F;
}

.count-description{
  display: none;
  position: absolute;
  left: -15%;
  top: 32px;
  width: 200px;
  padding: 20px;
  box-sizing: border-box;

  font-size: 16px;

  background-color: #000;
  color: #fff;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);

  z-index: 1;
}

.count-description::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 6px;
  left: 79%;
  top: -6px;
  transform: translateX(-50%);

  background: url("../image/triangle.svg") no-repeat center;
}

.delivery-info:hover + .count-description,
.delivery-info:focus + .count-description{
  display: inline-block;
}

.delivery-form-field{
  padding: 20px 20px;
  background: #F0F0F0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.counter-field-container{
  position: relative;
}

.counter-field{
  text-align: center;
  appearance: textfield;
}

.counter-button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  background-color: transparent;
  transform: translateY(-50%);
  cursor: pointer;
  fill-opacity: .3;
}

.counter-button-plus{
  right: 20px;
}

.counter-button-minus{
  left: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.counter-button:hover{
  fill-opacity: 1;
}

.counter-button:focus-visible{
  outline: 2px solid rgba(175, 79, 255, 1);
  outline-offset: 5px;
  border-radius: 50%;
}

.counter-button:active{
  fill-opacity: .1;
}

.counter-button:active:hover{
  outline: none;
}

.delivery-form-field::placeholder{
  opacity: .6;
}

.delivery-form-field:focus{
  outline: 5px solid #AF4FFF;
}

.delivery-form-field:invalid{
  outline: 3px solid #FF3D3D;
}

.field-group-caption{
  font-size: 14px;
  line-height: 20px;
  margin-top: 6px;
}

.error{
  color: #FF3D3D;
}

.delivery-button{
  width: 200px;
}

.delivery-button::before{
  border-color: #FFC700;
}

.delivery-button:hover{
  background-color: #FFC700;
}

/*Catalog.html*/

.inner-header{
  margin-top: 38px;
  margin-bottom: 49px;
}

/*Title*/
.inner-header-title{
  padding: 0;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 23px;
}

/* Breadcrumbs */
.breadcrumbs{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  color: #000000;
  margin-left: 53px;
}

.breadcrumbs-item{
  font-size: 16px;
  line-height: 19px;
  position: relative;
  margin-right: 22px;
}

.breadcrumbs-item::after{
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  margin-top: -3px;
  top: 50%;
  right: -14px;
  background: url("../image/catalog/arrow.svg") no-repeat center;
}

.breadcrumbs-item:last-of-type::after{
  display: none;
}

/*Link*/
.breadcrubms-link{
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  padding: 8px 6px;
}

.breadcrubms-link:hover{
  opacity: 1;
}

.breadcrubms-link:hover{
  opacity: .3;
}

.breadcrubms-link:focus{
  outline: 5px solid #AF4FFF;
}

.catalog-container{
  display: flex;
  flex-wrap: wrap;
}

.filter{
  display: flex;
  flex-direction: column;
  width: 328px;
}

/*Catalog title*/
.catalog-title{
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*Catalog filter*/

/*Title*/
.filter-title{
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 60px;
  min-height: 70px;
  color: #000000;
  background: #DCDCDC;
  box-sizing: border-box;
}

.filter-title::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background: #DCDCDC;
  right: 0;
  z-index: -1;
}

/*Form*/
.catalog-filter{
  position: relative;
  flex-grow: 1;
  padding-left: 58px;
  padding-top: 69px;
  color: #000000;
  background-color: #EBEBEB;
}

.catalog-filter:before{
  content: "";
  position: absolute;
  width: 600vw;
  height: 100%;
  background: #EBEBEB;
  right: 0;
  top: 0;
  z-index: -1;
}

.filter-form{
  width: 200px;
}

.filter-form-group{
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;

}

.filter-form-group:nth-of-type(2){
  margin-bottom: 40px;
}

.filter-form-group:last-of-type{
  margin-bottom: 41px;
}

/*Legend*/
.filter-form-title{
  padding: 0;
  margin: 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding-top: 13px;
  min-width: 200px;
  border-top: 2px solid #000;
}

.range{
  margin-top: 36px;
}

.range-scale{
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #DCDCDC;
}

.range-bar{
  position: absolute;
  height: 2px;
  background-color: #000000;

}

.range-toggle{
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  background: #EBEBEB;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.range-toggle:focus-visible{
  border-color: #AF4FFF;
}

.range-toggle:active{
  background-color: #000000;
}

.toggle-min{
  transform: translate(-50%, -50%);
}

.toggle-max{
  right: 0;
  transform: translate(50%, -50%);
}

.range-wrapper-inputs{
  position: relative;
  display: flex;
}

.filter-label{
  position: relative;
  display: flex;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.filter-label-min{
  left: -15px;
}

.filter-label-max{
  right: -17px;
}

.range-input{
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
  padding: 0 3px;
  width: 40px;
  text-align: left;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button{
  appearance: none;
  margin: 0;
}

.filter-form-list{
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 20px;
}

.filter-form-item{
  margin-bottom: 10px;
}

.filter-form-item:last-of-type{
  margin-bottom: 0;
}

.control{
  display: block;
  position: relative;
  padding-left: 37px;
}

.control-mark{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  opacity: .2;
  box-sizing: border-box;
  border-radius: 3px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.control-icon{
  fill: #000;
  opacity: 0;
}

.control:hover .control-label{
  opacity: .5;
}

.control-input:focus + .control-mark{
  opacity: 1;
  border-color: #AF4FFF;
}

.control-input:focus + .control-mark .control-icon{
  fill: #AF4FFF;
}

.control-input:focus ~ .control-label{
  color: #AF4FFF;
}

.control:active .control-label{
  opacity: .2;
}

.control-input[type="checkbox"]:checked + .control-mark,
.control-input[type="checkbox"]:checked + .control-mark .control-icon{
  opacity: 1;
}

.control-input[type="checkbox"]:checked:hover + .control-mark{
  opacity: .5;
}

.control-input[type="checkbox"]:checked:active + .control-mark{
  opacity: .2;
}

.control-input[type="radio"] + .control-mark{
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark{
  opacity: 1;
}

.control-input[type="radio"]:checked + .control-mark::before{
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.control-input[type="radio"]:checked:hover + .control-mark{
  opacity: 0.5;
}

.control-input[type="radio"]:focus + .control-mark::before{
  background-color: #AF4FFF;
}

.control-input[type="radio"]:checked:active + .control-mark{
  opacity: 0.2;
}

.control-label{
  font-size: 16px;
  line-height: 19px;
}

.filter-button{
  background: transparent;
  min-width: 200px;
}

.filter-button:before{
  border-bottom: 8px solid #FFC700;
}

.filter-button:hover{
  background: #FFC700;
}

/*Catalog products*/

.catalog-products{
}

.sorting{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  min-height: 70px;
  padding: 10px 10px 10px 72px;


  color: #000000;
  background-color: #EBEBEB;
  box-sizing: border-box;
}

.sorting::before{
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: #EBEBEB;
  left: 0;
  z-index: -1;
}

.sort-title{
  margin-right: 25px;
}

.select-control{
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  width: 190px;
  appearance: none;
  padding: 8px 13px;
  box-sizing: content-box;
  border: 5px solid transparent;
  background: url("../image/catalog/dropdown.svg") no-repeat right 12px center transparent;
}

.select-control:hover{
  opacity: 0.6;
}

.select-control:focus{
  border-color: #AF4FFF;
}

.select-control:active{
  opacity: 0.3;
}

.sort-button{
  position: absolute;
  fill-opacity: .2;
  background-color: transparent;
}

.sort-button-down{
  right: 0px;
}

.sort-button-up{
  right: 30px;
}

.sort-button:hover .sort-button-icon{
  fill-opacity: .5;
}

.sort-button:focus .sort-button-icon{
  outline: 5px solid #AF4FFF;
  outline-offset: 10px;
}

.sort-button-current{
  fill-opacity: 1;
}

.products{
  padding: 69px 72px 77px 72px;
  padding-right: 0;
}

/*List*/
.product-list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-column-gap: 40px;
  grid-row-gap: 46px;
  width: 760px;
  margin-bottom: 46px;
}

.product-card-link{
  position: relative;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}

.product-card-link:hover .card-button-wrapper,
.product-card-link:focus .card-button-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.8));
}

.product-card-link:focus .product-card-image-wrapper{
  outline: 5px solid #AF4FFF;
}

.product-card-link:focus .product-card-title,
.product-card-link:focus .cost{
  color: #AF4FFF;
}

.product-card-image-wrapper{
  position: relative;
  margin-bottom: 32px;
  width: 360px;
  height: 380px;
}

.card-button-wrapper{
  display: none;
  position: absolute;
  margin-bottom: 32px;
  width: 360px;
  height: 380px;
}

.card-button{
  background-color: transparent;
  min-width: 180px;
}

.card-button:before{
  border-bottom: 8px solid #FFC700;
}

.card-button:hover{
  background: #FFC700;
}


/*Title*/
.product-card-title{
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  width: 280px;
}

.cost{
  line-height: 21px;
  color: #444444;
}

.new-img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;

  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;

  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 0.6;
}

.button-all{
  font-size: 16px;
  line-height: 19px;
  width: 760px;
  height: 55px;
  padding: 15px 0;
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 51px;
  box-sizing: border-box;
}

.button-all:hover{
  border-color: #000000;
}

.button-all:active{
  opacity: 0.3;
}

.button-all:focus{
  outline: 5px solid #AF4FFF;
  outline-offset: -5px;
}

.button-all:hover:focus{
  outline: none;
}

/*Pagination*/
.catalog-pagination{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 760px;
  min-height: 70px;
  background: #EBEBEB;
  box-sizing: border-box;
}

.catalog-pagination-item:nth-of-type(2){
  margin-left: 172px;
  margin-right: 0px;
}

.catalog-pagination-item:nth-of-type(5){
  margin-right: 5px;
}

.catalog-pagination-item:nth-of-type(6){
  margin-right: auto;
}

.catalog-pagination-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(68, 68, 68, .3);
  text-decoration: none;
}

.catalog-pagination-link:hover{
  color: rgba(68, 68, 68, 1);
}

.catalog-pagination-link:active{
  color: rgba(68, 68, 68, .1);
}

.catalog-pagination-link:focus{
  outline: 5px solid #AF4FFF;
  outline-offset: -5px;
}

.catalog-pagination-link-prev,
.catalog-pagination-link-next{
  display: flex;
  align-items: center;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  padding: 0 29px;
  min-height: 70px;
}

.catalog-pagination-link-prev:hover,
.catalog-pagination-link-next:hover{
  background: #DCDCDC;
}

.catalog-pagination-link-prev:active,
.catalog-pagination-link-next:active{
  opacity: 0.3;
}

.catalog-pagination-link-prev:focus,
.catalog-pagination-link-next:focus{
  outline: 5px solid #AF4FFF;
  outline-offset: -5px;
}

.catalog-pagination-link-prev:hover:focus,
.catalog-pagination-link-next:hover:focus{
  outline: none;
}
